*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}

.body{
    padding-left: 0px;
    background-color: #fafafa;
    overflow: hidden;
}
.mobile{
    display: none;
}
.barra-topo {
    position: fixed;
    padding-left: 215px;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 1;
}
.logo{
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.logo img{
    
    width: 103px;
    height: 29px;

}
.logo-icon img{

    width: 22px;
    height: 22px;

}
.barra-divisoria{
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 22px;
    background: #DBDBDB;
}
input {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    box-sizing: border-box;
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    margin-left: 575px;
}
input:focus{
    outline: none;

}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979797;
    text-align: center;
    font-size: 12px;
}
.barra-opcoes-topo{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 148px;
    height: 25px;
}
.icone-top{
    width: 22px;
    height: 22px;
}
.icone-top:hover{
    cursor: pointer;
}
.main{
    width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

/*começo rolagem de página*/
.conteudo{
    width: 935px;
    padding-left: 215px;
    margin-top: 52px;
    padding-top: 34px;
    background-color: #e5e5e5;
}

/*começo dos stories ok, mas falta ajustes finos*/
.caixa-stories{
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    width: 614px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.perfil-stories{
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 18px;   
}
.storie-background img{
    position: absolute;
    width: 66px;
    height: 66px;
    top: 18px;
    left: 18px;
    border-radius: 33px;
}
.imagem-perfil-stories img{
    position: absolute;
    border-radius: 28px;
    width: 56px;
    height: 56px;
    top: 51px;
    left: 51px;
    transform: translate(-50%, -50%);

}
.perfil-stories p{
    position: absolute;
    padding: 5px;
    left: 10px;
    font-size: 12px;
    top: 88px;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}
.passa-storie img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 574px;
    top: 43px;
    filter: drop-shadow(0px 4px 4px #FFFFFF);
}

/*fim dos stories*/

/*começo posts ok, mas falta ajustes nos icones*/

.coluna-posts{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.post{
    position: relative;
    width: 614px;
    height: 749px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}
.barra-sup-post{
    position: relative;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.barra-sup-post img{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 15px;
    margin-left: 17px;
}
.barra-sup-post p{
    margin-left: 64px;
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.img-post img{
    width: 612px;
    height: 612px;
}
.icone-barra-sup-post{
    position: absolute;
    display: flex;
    margin-left: 561px;
    align-items: center;
}
.icone-barra-sup-post img{
    width: 18px;
    height: 18px;  
}
.barra-inf-post{
    position: relative;
    width: 100%;
    height: 76px;
}
.icones-barra-inf-post{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
/*precisa de ajustes nos icones, não consegui*/
.icones-barra-inf-post img{
    width: 22px;
    height: 22px;
    margin-left: 15px; ;
    margin-right: 15px;
}
.icone-lateral-barra-inf-post img{
    position: absolute;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}
.infos-post{
    position: absolute;
    margin-top: 42px;
    display: flex;
    align-items: flex-end;
}
.infos-post img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 17px;
    margin-right: 5px;
}
.infos-post p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.infos-post span{
    font-weight: bold;
}
/*fim posts*/

/*começo sidebar ok*/
.sidebar{
    position: fixed;
    z-index: 1;
    width: 293px;
    height: 612px;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.perfil{
    position: absolute;
    width: 162px;
    height: 57px;
    top: 118px;
    left: 858px;
    display: flex;


}
.perfil img{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.perfil h1{
    position: absolute;
    margin-top: 18px;
    margin-left: 74px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.perfil p{
    position: absolute;
    margin-left: 74px;
    margin-top: 32px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8e8e8e;
}
.sugestoes{
    position: absolute;
    width: 293px;
    height: 258px;
    top: 191px;
    left: 858px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.sugestoes h1{
    position: absolute;
    margin-top: 34px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #8E8E8E;
}
.sugestoes p{
    position: absolute;
    width: 55px;
    height: 15px;
    left: 40px;

    margin-top: 34px;
    margin-left: 191px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #262626;
}
.caixa-sugest{
    margin-top: 17px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}
.sugest{

    width: 293px;
    height: 50px;
}
.sugest img{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 1px;
    margin-top: 9px;
    margin-bottom: 9px;
    border-radius: 16px;
}
.sugest h1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    margin-left: 44px;
    margin-top: 10px;
    margin-bottom: 26px;
}
.sugest h2{
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
    margin-left: 44px;
    margin-top: 28px;
}
.botao-seguir{
    margin-top: -58px;
    margin-left: 20px;
}
.botao-seguir p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}
.informacoes-pagina{
    position: absolute;
    margin-top: 33px; 
    width: 300px;
    height: 42px;
    left: 858px;
    top: 480px;

    display: flex;
    flex-direction: column;
}
.informacoes-pagina p{
    font-size: 11px;
    line-height: 13px;    
    color: #C7C7C7;
    margin-bottom: 18px;
}
.dominio-pagina p{
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: #C7C7C7;
}
/*fim sidebar*/
@media (max-width: 935px) {
    /*problema em centralizar*/
    .desktop{
        display: none;
    }
    .barra-topo{
        width: 100%;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
    }
    .barra-opcoes-topo{
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    .conteudo{
        width: 935px;
        padding-left: 143px;
    }
    .main{
        width: 935px;
    }
}
@media (max-width: 614px){
    /*faltou alguns ajustes, continuar*/
    .desktop{
        display: none;
    }
    .main{
        width: 100%;
        padding: 5px 10px;
    }
    .conteudo{
        width: 100%;
        padding-left: 0px;
    }
    .caixa-stories{
        position: static;
        width: 100%;

    }
    .post{
        width: 100%;
    }.img-post img{
        width: 100%;
    }
    .mobile{
        display: block;
        width: 100%;
        height: 60px;
    
        background-color: #fff;
        border-top: 1px solid #dbdbdb;
    
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .barra-inferior{
        width: 100%;
        height: 60px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 10px;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .barra-inferior img{

        width: 22px;
        height: 22px;
    }
}
/*fim do conteúdo*/
/*fim do conteúdo principal*/